$primary-color-1: rgb(5, 26, 3);
$primary-color-2: #043604;
$primary-color-3: #0e4108;
$secondary-color-1: #ffffff;
$secondary-color-2: #c5c5c5;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}